@import './styling/theme.css';
@import './styling/fonts.css';
@import './styling/tailwind.css';

/* Navbar link underline animation */
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #0A0A0A;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
